@using HomeWork_4_29_2019.Models;
@using Homework_4_29_2019.Data;
@model IEnumerable<Image>

<div class="well-lg">
	<table class="active">
		<tr>
			<th>Title</th>
			<th>Likes</th>
		</tr>
		@foreach(Image i in Model)
		{
			<tr>
				<td>
					<form method="post" action="/Home/Image">
						<input type="hidden" value="@i.id" name="imageid" />
						<button>@i.Title</button>
					</form>
				</td>
				<td>
					@i.LikeCount
				</td>
			</tr>
		}
	</table>
</div>
